version: "3.7"

x-environment: &service-environment
  environment: 
    - IIP_CONFIG_DIR=${IIP_CONFIG_DIR}
    - KRB5CCNAME=${KRB5CCNAME_FILE}

x-service-volumes: &service-volumes
  volumes:
    - /var/tmp/data:/var/tmp/data
    - /var/log/iip:/var/log/iip
    - /home/iip:/home/iip
    - /tmp:/tmp

x-service-nts-volumes: &service-nts-volumes
  volumes:
    - /var/tmp/data:/var/tmp/data
    - /var/log/iip:/var/log/iip
    - /home/iip:/home/iip
    - /tmp:/tmp
    - /etc/passwd:/etc/passwd
    - /etc/group:/etc/group

x-host-settings: &host-settings
  network_mode: host
  pid: host
  tty: true

services:
  dm_forwarder:
    image: ts-dockerhub.lsst.org/lsstts/dm_forwarder:${DM_FORWARDER_VERSION}
    build:
      context: ./dm_forwarder
      args:
        - cmakeURL=https://github.com/Kitware/CMake/releases/download/v3.15.4/cmake-3.15.4-Linux-x86_64.sh
        - bbcpURL=https://www.slac.stanford.edu/~abh/bbcp/bbcp.git/
        - rabbitmqcURL=http://lsst-web.ncsa.illinois.edu/~srp/packages/rabbitmq-c/v0.10.0.tar.gz
        - SimpleAmqpClientURL=http://lsst-web.ncsa.illinois.edu/~srp/packages/SimpleAmqpClient/SimpleAmqpClient-2.4.0.tar.gz
        - yamlcppURL=http://lsst-web.ncsa.illinois.edu/~srp/packages/yaml-cpp/yaml-cpp-0.6.3.tar.gz
        - cfitsioURL=http://lsst-web.ncsa.illinois.edu/~srp/packages/cfitsio/cfitsio-3.450.tar.gz
        - daqURL=http://lsst-web.ncsa.illinois.edu/~srp/packages/daq/R5-V0.0_rc5.tgz

  fwd_nts:
    image: ts-dockerhub.lsst.org/lsstts/dm_forwarder:${DM_FORWARDER_VERSION}
    container_name: fwd_nts
    user: ${IIP_UID}:${IIP_GID}
    <<: *service-nts-volumes
    <<: *service-environment
    <<: *host-settings

  fwd_summit:
    image: ts-dockerhub.lsst.org/lsstts/dm_forwarder:${DM_FORWARDER_VERSION}
    container_name: fwd_summit
    <<: *service-volumes
    <<: *service-environment
    <<: *host-settings
